<div class="customize">
    <center>
        <form action="/customize/faqsentry" method="post">
            <h4>FAQs Entry</h4>
            <input type="text" name="header" class = "faqsheader" placeholder="Question"><br>
            <input type="text" name="faqsbody" class="faqsbody" placeholder="Answer"><br>
            <button type="submit">Add FAQs</button>
        </form>
    </center>
</div>