<div class="customize">
    <center>
        <form action="/customize/addCarouselImage" method="post" enctype="multipart/form-data">
            <h4>Add carousel image</h4>
            <input type="file" name="carouselImage" class="carouselImage"><br>
            <button type="submit">Add Image</button>
        </form>
    </center>
</div>