<strong class = "authentication">
    <form action="/home" method="post">
        <select name="loginChoice" id="loginChoice" onchange="this.form.submit()" onchange="myfunction('Loading ...')" >
            <option value="1" >Welcome, {{user.firstName}}</option>
            <option value="7" >Home</option>
            <option value="2">Stock Data</option>
            {{#if user.admin}}
                <option value="3">Data Input</option>
                <option value="6">Pricing</option>
            {{/if}}
            <option value="4">Profile</option>
            <option value="5"><strong class="logout">Logout<strong></option>
        </select>
    </form>
</strong>