<strong class = "authentication">
    <form action="/home" method="post" onchange="myfunction('loginChoice')">
        <select name="loginChoice" id="loginChoice" onchange="this.form.submit()"  >
            <option value="1" >Welcome {{user.firstName}}</option>
            <option value="2"  >Home</option>
            <option value="3" >Stock Data</option>
            {{#if user.admin}}
                <option value="4" >Data Input</option>
            {{else}}
                <!--<option value="5">Last Transaction</option>--->
            {{/if}}
            <option value="6" >Pricing</option>
            <option value="7" >Profile</option>
            <option value="8">Change Password</option>
            <option value="9" ><strong class="logout">Logout<strong></option>
        </select>
    </form>
</strong>