<div class = "footerData">
    <strong class="copyright"> &copy; Copyright reserved 2k20 </strong><br>
    <a href="/disclaimer" class = "footera">Disclaimer</a> <a href="/contacts">Contacts</a>
</div>