<div class = "footerData">
    </div><strong class="copyright"> &copy; Copyright reserved 2020 
    <br><a href="/disclaimer" class = "footera">Disclaimer</a> <a href="/contacts">Contacts</a></strong>
</div>