<center>
    <div class = "footerData">
        <strong class="copyright"> &copy; Copyright reserved 2k20 </strong><br>
        <strong style="font-size: 20px;"> | </strong> <a href="/disclaimer" class = "footera">Disclaimer </a> <strong style="font-size: 20px;"> | </strong> <a href="/contacts"> Contacts</a> <strong style="font-size: 20px;"> | </strong> 
    </div>
</center>
