<strong class="title"><a href="/" class="headerTitle">AADARSH-STOCKS</a><a href="#" class="pricing">Pricing</a></strong>
<strong class = "authentication">
    <a href="/register">Sign Up</a>
    <a href="/login">Login</a>
</strong>
