<strong class="title"><a href="/" class="headerTitle" onclick="myfunction('Going to Home...')">AADARSH-STOCKS</a></strong>
<strong class = "authentication">
    <a href="/register" onclick="myfunction('Loading ...')">Sign Up</a>
    <a href="/login" onclick="myfunction('Loading ...')">Login</a>
</strong>
