.main-content .contacts-title{
    font-size : 30px;
    width : 155px;
    margin-left : calc((100% - 155px)/2)
}
.main-content .contacts-content{
    padding-left : calc((100% - 320px)/2);
    padding-top: 19%;
    font-size : 20px;
}