.main-content .disclaimer-title{
    font-size : 30px;
    font-weight : bolder;
    margin-left : calc((100% - 195px)/2);
    margin-top: 20%;
}
.main-content .disclaimer-content{
    font-size : 20px;
    font-weight : bold;
    margin-left : calc((100% - 850px)/2);
    padding-top: 5%;
}