.faqsContent{
    width: 600px ;
    margin : auto;
    position : relative;
    top : 100px;
}
.faqsData{
    margin-bottom : 20px;
}
.faqsQuestion{
    font-size : 120%;
    font-weight : bold;
}
.faqsAnswer{
    margin-left : 1.5em;
    position:relative;
    top: 0.2em;
}