*{
    margin : 0;
    padding : 0;
    outline : 0 ;
    background-clip: padding-box;
}
body{
    display : flex;
    flex-direction: column;
    /* background-image: linear-gradient(rgb(219, 221, 125),aqua,rgb(219, 221, 125)); */
}
.header{
    width: 100%;
    height: 60px;
    background-color : chocolate;
    position: fixed;
    top : 0px;
    left: 0px;
    right: 0px;
    border-bottom: 2px solid black;
    border-top : 2px solid black;
    z-index : 10;
} 
/*  footer : rgba(167, 54, 54, 0.8)
    header : rgb(241, 101, 36);
*/
.title .headerTitle{
    position: relative;
    left : 90px;
    top : 12px;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    text-decoration: none;
    color : black;
    text-shadow: 0.1vw 0.1vh 01vh white;
}
.footer{
    height : 60px;
    background-color: tomato;
    position: relative;
    left : 0px;
    right : 0px;
    bottom: 0px;
    border-top : 2px solid black;
    border-bottom : 2px solid black;
    position: relative;
}
.footer a{
    color: blueviolet;
    padding-left: 32px;
    text-shadow: 0.1vw 0.1vh 1.8vh white;
    font-size:17px;
    font-weight:bolder;
}
.footer strong{
    font-size:20px;
}
.footerData{
    position : relative;
    top : 5px;
    width : max-content;
    margin : auto;
}
.main-content{
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
    /* background-image: url('../img/WhatsApp\ Image\ 2020-06-28\ at\ 9.12.48\ PM.jpeg');
    background-repeat: repeat-y;
    background-size: 100vw 100vh; */
    background-image: linear-gradient(skyblue,white,skyblue);
    min-height: 91vh;
}

#stock-view-date{
    border : 2px solid black;
    border-radius: 15px;
    height : 30px;
    padding-left:30px;
}
.stock-display-para{
    font-weight: bold;
    padding-left: 1%;
    padding-right: 1%;
    padding-top : 50px;
}
.stock-view-date h4{
    display: inline-block;
    font-size : 22px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 0.1vw 0.1vh 1vh white;
}
.stock-view-date{
    width : 690px;
    height : 35px;
    margin : auto;
}
.authentication{
    position: absolute;
    right : 60px;
    top : 20px;
}
.authentication a{
    color: rgb(6, 61, 179);
    text-decoration: none;
    padding: 5px 10px ;
    border-bottom : 2px solid rgba(3, 17, 17, 0.5);
    border-top : 2px solid rgba(7, 14, 14, 0.5);
    border-radius: 4px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0.1vw 0.1vh 1.8vh white;
    font-size : 18px;
}
.stockDisplayBox{
    width : 100%;
    overflow-x: scroll;
    background-color : black;
    border-left : 1px solid black;
    border-right : 1px solid black; 
}
.stock-display{
    display: grid;
    grid-auto-rows: minmax(30px,auto);
    grid-template-columns: 365px 300px 250px 270px 350px 350px 600px;
    border: 2px solid black;
    word-break : break-word;
    grid-gap : 1px;
    background-color: black;
}
.stock-display-headers{
    border : 2px solid black;
    border-width: 100%;
    background-color: teal;
    padding-left : 10%;
    padding-top : 1%;
    padding-bottom : 1%;
    font-size:24px;
}
.stock-display-items{
    border : 2px solid black;
    border-width: 100%;
    background-color: rgb(115, 196, 196);
    padding-left : 10%;
    padding-top : 1%;
    padding-bottom : 1%;
    font-size : 22px;
}
.main-content .authenticationBody .welcomeNote{
    font-family : -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 55px;
    width : 262px;
    margin-left : calc((100% - 262px)/2);
    /* position: relative;
    top : 220px; */
}
.main-content .authenticationBody a{
    color: black;
    text-decoration: none;
    padding: 10px 55px ;
    border : 3px solid black;
    background-color : greenyellow;
    border-radius: 40px;
    font-size : 20px;
    font-weight : 950;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0.1vw 0.1vh 1.8vh rgb(191, 236, 236);
    
}
a.reg{
    margin-left : -12px;
}
div.indexAuthentication{
    width: 200px;
    margin-left : calc((100% - 200px)/2);
    /* position : relative;
    top : 400px; */
}
/* select{
    border : 2px solid black;
    border-radius: 7px;
    height : 2rem;
    padding-left: 7%;
    padding-right: 3%;
    background-color: aliceblue;
} */
/* @media screen and (max-width : 712 px){
    .stock-view-date{
        font-size: medium;
    }
} */
.disclaimer-title-index{
    font-weight : bolder;
    font-size : 22px;
    font-family : -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.disclaimer-content-index{
    font-size : 18px;
    font-weight : bold;
    font-family : -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.disclaimer-index{
    margin-left : calc((100% - 850px)/2);
    /* position : relative;
    top : 600px; */
}
button:hover,select:hover{
    cursor: pointer;
}
.pricing{
    color: rgb(53, 40, 40);
    text-decoration: none;
    padding: 4px 10px ;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0.1vw 0.1vh 2vh white;
    font-size : 18px;
    margin-left : 150px;
    position : relative;
    top : 9px;
}
select option{
    font-weight : bolder;
    font-size : 18px;
 }