input[placeholder]{
    font-size: 20px;
    font-weight: bolder;
    padding-left: 30px;
}
.header select{
    border : 2px solid rgb(255, 225, 50);
    border-radius: 7px;
    padding-left: 7%;
    padding-right: 3%;
    background-color: antiquewhite;
}
.form{
    width : 400px;
    margin: auto;
    position:relative;
    top : 6.5rem;
}
.form [type=email],.form [type=password]{
    border : 3px solid green;
    height : 42px;
    width : 394px;
    border-radius : 21px;
    margin-bottom: 1em;
    background-color: #f5f5dc;
}
.form button{
    background-image: linear-gradient(yellow,red);
    border : 3px solid green;
    border-radius : 21px;
    height : 42px;
    width : 200px;
    font-weight: bolder;
    font-size: 1.2rem;
    color: black;
    margin-left: 104px;
}
.form h4{
    position: relative;
    left: 86px;
    font-size: 40px;
    color: rgba(97, 5, 105, 1);;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 0.1vw 0.1vh 01vh aqua;
}
input[placeholder]{
    font-weight: bolder;
    padding-left: 30px;
}
.form select,.form label{
    position:relative;
    left: 20px;
}
.form label{
    font-size: 19.5px;
    font-family: arial;
    font-weight: bold;
}
.form select{
    border : 3px solid brown;
    height: 42px;
    border-radius : 21px;
    width : 169.15px;
    padding-left:8px;
    background-color: #f5f5dc;
    font-size : 20px;
    font-weight:bold;
    color : teal;
}
.stock-display-input input{
    border : 3px solid brown;
    border-radius : 8px;
    height : 40px;
    width : 229px;
    display: inline-block;
    background-color: aqua;
}
.stock-display-input input[placeholder]{
    font-weight: bolder;
    padding-left: 1%;
}
.add-to-database,.add-row{
    border : 3px solid brown;
    border-radius : 8px;
    height : 2.3rem;
    width : 14.33rem;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.add-to-database{
    position: relative;
    left: 43%;
    width: 14%;
    background-image: linear-gradient(yellow,red);
    border-radius : 1.5vw;
    font-size : 15px;
}
.add-row{
    position: relative;
    left: 43%;
    width: 14%;
    background-image: linear-gradient(yellow,red);
    border-radius : 1.5vw;
    font-size : 15px;
}
.stock-entry-date h4{
    margin-left: calc((100% - 680px)/2);
    font-size : 22px;
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.stock-entry-date input{
    border : 3px solid rgb(119, 5, 5);
    border-radius: 17.5px;
    height : 35px;
    width : 150px;
    padding-left: 60px;
}
.para1-stock,.para2-stock{
    border : 3px solid brown;
    border-radius : 0.8vw;
    height: 200px;
    width: 380px;
    margin-left : 8px;
    background-color: aqua;
    text-overflow: ellipsis;
}
.para1-stock{
    margin-left: calc((100% - 830px)/2);
}
.account-details{
    width : max-content;
    margin : auto;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-auto-rows: minmax(4vh,auto);
}
.account-details strong{
    font-size: 20px;
    color : brown;
}
.account-details-header{
    width : 340px;
    margin-left : calc((96% - 340px)/2);
    font-size: 35px;
    color : brown;
    text-decoration: underline;
}
#loginChoice{
    position: relative;
    top : -8.7px;
    height : 38px;
    border-radius: 19px;
    font-weight :bold;
    font-size: 20px;
}
.data-added-successfully{
    margin-left : 750px;
    position : relative;
    top : 420px;
    font-size : 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.para1,.para2{
    font-size : 22px;
    text-shadow: 0.1vw 0.1vh 01vh white;
}
input[placeholder]:focus,select:focus,button:focus{
    border: 3px dashed green;
    outline: 0;
}
input::invalid{
    border : 3px dotted red;
}
.message{
    font-size : 25px;
    margin-left : calc((100% - 324px)/2)
}
.errorMessage{
    font-size : 18px;
    color : red;
    margin-left : calc((100% - 250px)/2)
}
.stockViewDate{
    font-size : 19px;
    width : fit-content;
    margin-left : calc((100% - 155px)/2);
    border-bottom : 3px solid brown;
    padding : 4px 12px;
    border-radius : 10px;
    color : green;
    font-weight : bold;
}


