input[placeholder]{
    font-size: 2vh;
    font-weight: bolder;
    padding-left: 2vw;
}
.header select{
    border : 2px solid black;
    border-radius: 7px;
    height : 2rem;
    padding-left: 7%;
    padding-right: 3%;
    background-color: aliceblue;
}
.form{
    padding-left: 38vw;
}
.form [type=email],.form [type=password]{
    border : 3px solid black;
    height : 5vh;
    width : 20.9vw;
    border-radius : 2vw;
    margin-bottom: 1em;
    background-color: #f5f5dc;
}
.form button{
    position: relative;
    left : 5vw;
    margin-top: 1em;
    background-image: linear-gradient(yellow,red);
    border : 3px solid black;
    border-radius : 2vw;
    height : 5vh;
    width : 12.1vw;
    font-weight: bolder;
    font-size: 1.2rem;
    color: black;
}
.form h4{
    position: relative;
    left: 5.7vw;
    font-size: 1.6vw;
    color: rgba(97, 5, 105, 1);;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 0.1vw 0.1vh 01vh aqua;
}
input[placeholder]{
    font-weight: bolder;
    padding-left: 2%;
}
.form select,.form label{
    position:relative;
    left: 0.71vw;
}
.form label{
    font-size: 1vw;
    font-family: arial;
    font-weight: bold;
}
.form select{
    border : 3px solid black;
    height: 4vh;
    border-radius : 2vw;
    width : 9.3vw;
    padding-left:1vw;
    background-color: #f5f5dc;
    font-size : 2vh;
    font-weight:bold;
    color : teal;
}
.stock-display-input input{
    border : 3px solid black;
    border-radius : 8px;
    height : 2.3rem;
    width : 14.18rem;
    display: inline-block;
    background-color: aqua;
}
.stock-display-input input[placeholder]{
    font-weight: bolder;
    padding-left: 1%;
}
.add-to-database,.add-row{
    border : 3px solid black;
    border-radius : 8px;
    height : 2.3rem;
    width : 14.33rem;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.add-to-database{
    position: relative;
    left: 43%;
    width: 14%;
    background-image: linear-gradient(yellow,red);
    border-radius : 1.5vw;
    font-size : 1.1vw;
}
.add-row{
    position: relative;
    left: 43%;
    width: 14%;
    background-image: linear-gradient(yellow,red);
    border-radius : 1.5vw;
    font-size : 1.1vw;
}
.stock-entry-date h4{
    margin-left: 32vw;
    font-size : 1.2vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.stock-entry-date input{
    border : 2px solid black;
    border-radius: 2vw;
    height : 3.2vh;
    width:7vw;
    padding-left:1.65vw;
}
.para1-stock{
    margin-left: 26.6vw;
    height: 20vh;
    width: 20vw;
    background-color: aqua;
}
.para2-stock{
    height: 20vh;
    width: 20vw;
    background-color: aqua;
    text-overflow: ellipsis;
}
.account-details{
    padding-left: 32vw;
    width : 38vw;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-auto-rows: minmax(4vh,auto);
}
.account-details strong{
    font-size: 2.5vh;
}
.account-details-header{
    padding-left: 38vw;
    font-size: 5vh;
    text-decoration: underline;
}
#loginChoice{
    position: relative;
    top : -0.9vh;
    height : 4vh;
    border-radius: 2vw;
    font-weight :bold;
    font-size:0.8vw;
}
input:active,select:focus{
    border: 3px dashed black;
    outline: 0;
}
.form input::invalid{
    border : 3px dotted red;
}
/* input::selection{
    outline-style: hidden;
} */
.data-added-successfully{
    margin-left : 39vw;
    position : relative;
    top : 40vh;
    font-size : 1.5vw;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.para1,.para2,.stock-display-items{
    font-size : 1.1vw;
}



