<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/index_style.css">
    <link rel="icon" href="/img/web.png" type="image/icon type">
    <title>Error</title>
</head>
<body>
    
    <section class = 'header'>
        <strong class="title"><a href="/" class="headerTitle" onclick="myfunction('Loading ...')">AADARSH-STOCKS</a></strong>
    </section>
    <section class = "main-content">
       <br><br><br><br><br><br>
       {{error}}
       <br><br>{{message}}
       <br><br>{{seeOffMessage}}
        
        
    </section>
    <section class = "footer">
        {{>footer}}
    </section>
    <script>
        function myfunction(content){
            var html = 
            `
            <center>
                <div class="anim">
                    <div id="loader"></div><br>
                    <strong>${content}</strong>
                </div>
            </center>
            `
            document.querySelector('.main-content').innerHTML = ' '
            document.querySelector('.main-content').insertAdjacentHTML('afterbegin',html)
        }

    </script>

</body>
</html>