<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/index_style.css">
    <title>Aadarsh Stock</title>
</head>
<body>
    
    <section class = 'header'>
        {{>header}}
    </section>
    <section class = "main-content">
       <br><br><br><br><br><br>
       {{error}}
       <br><br>{{message}}
       <br><br>{{seeOffMessage}}
        
        
        
        
    </section>
    <section class = "footer">
        {{>footer}}
    </section>


</body>
</html>