<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/img/web.png" type="image/icon type">
    <link rel="stylesheet" href="/css/index_style.css">
    <link rel="stylesheet" href="/css/login_style.css">
    <title>Change-Password</title>
</head>
<body>
    <section class="header">
        <strong class="title"><a href="/" class="headerTitle">AADARSH-STOCKS</a><a href="/home/pricing" class="pricing">Pricing</a></strong>
        <strong class = "authentication">
            <form action="/home" method="post">
                <select name="loginChoice" id="loginChoice" onchange="this.form.submit()">
                    <option value="1">Welcome, {{user.firstName}}</option>
                    <option value="7">Home</option>
                    <option value="2">Stock Data</option>
                    {{#if user.admin}}
                        <option value="3">Data Input</option>
                        <option value="6">Pricing</option>
                    {{/if}}
                    <option value="4">Profile</option>
                    <option value="5"><strong class="logout">Logout<strong></option>
                </select>
            </form>
        </strong>
    </section>
    
    
    <section class="main-content">
        <br><br><br><br><br><br><br><br><br><br><br><br><br>

        <div class="changePassword">
            <center>
                <h4>Change Password Portal</h4><br><br><br><br>
                <form action="/home/changePassword" method="post">
                    <input type="password" name="password1" id="password1" placeholder="Old Password"><br>
                    <input type="password" name="password2" id="password2" placeholder="New Password"><br>
                    <input type="password" name="password3" id="password3" placeholder="Confirm Password"><br><br>
                    <button type="submit" class = "changePasswordSubmit">Change Password</button>
                </form>
                <strong id="cpmessage" style = "color : {{color}}">{{message}}</strong>
            </center>
        </div><br><br>
        
    </section>


    <section class="footer">
        {{>footer}}
    </section>
    <script>
        function myfunction(content){
            var html = 
            `
            <center>
                <div class="anim">
                    <div id="loader"></div><br>
                    <strong>${content}</strong>
                </div>
            </center>
            `
            document.querySelector('.main-content').innerHTML = ' '
            document.querySelector('.main-content').insertAdjacentHTML('afterbegin',html)
        }

    </script>
</body>
</html>