<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/index_style.css">
    <link rel="stylesheet" href="/css/contacts.css">
    <title>Aadarsh Stock</title>
</head>
<body>
    
    <section class = 'header'>
        {{>header}}
    </section>
    <section class = "main-content">
        <br><br><br>
        <strong class = "contacts-title" style="text-decoration: underline;">CONTACTS</strong>
        <p class="contacts-content" style="font-weight: bold;">E-mail : something@mail.com</p>   
          
     </section>
    <section class = "footer">
        {{>footer}}
    </section>

    
</body>
</html>