<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/index_style.css">
    <link rel="stylesheet" href="/css/login_style.css">
    <link rel="stylesheet" href="/css/customize_style.css">
    <link rel="icon" href="/img/web.png" type="image/icon type">
    <title>Aadarsh-Stocks</title>
    <style>
        @keyframes mymove
        {
            0% { left : 100%}
            100% {left : {{notice.width}};}
        }
    </style>
</head>
<body>
    
    <section class = 'header'>
        <strong class="title"><a href="/" class="headerTitle" onclick="Going to Home...">AADARSH-STOCKS</a></strong>
        {{>authenticatedHeader}}
    </section>
    <section class = "main-content" >
        <div class="customize">
            {{#if adminfaqsentry}}
                {{>adminfaqsentry}}
            {{/if}}
            {{#if adminAddCarousel}}
                {{>adminAddCarousel}}
            {{/if}}
            {{#if adminEditCarousel}}
                {{>adminEditCarousel}}
            {{/if}}
            {{#if adminAddNotice}}
                {{>adminAddNotice}}
            {{/if}}
        </div>
    </section>
    <section class = "footer">
        {{>footer}}
    </section>
    <script>
        document.querySelector('.customize').addEventListener('click',(e)=>{
            var selector =e.target.className.split(' ')
            if(selector[0] == 'text'){
                document.querySelector('.removeFile').value = selector[1]
                var html=`
                <img src="/publicCarousel/${selector[1]}" class="image{{this.name}}" alt="banner" >`
                document.querySelector('.editCarousel').innerHTML=''
                document.querySelector('.editCarousel').insertAdjacentHTML('beforeend',html)
            }
        })
    </script>
</body>
</html>