<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/img/web.png" type="image/icon type">
    <link rel="stylesheet" href="/css/index_style.css">
    <link rel="stylesheet" href="/css/disclaimer.css">
    <link rel="stylesheet" href="/css/login_style.css">
    <title>Aadarsh Stock</title>
</head>
<body>
    
    <section class = 'header'>
        <strong class="title"><a href="/" class="headerTitle">AADARSH-STOCKS</a><a href="/home/pricing" class="pricing">Pricing</a></strong>
        {{#if user}}
        <strong class = "authentication">
            <form action="/home" method="post">
                <select name="loginChoice" id="loginChoice" onchange="this.form.submit()">
                    <option value="1">Welcome, {{user.firstName}}</option>
                    <option value="2"><a href="/register">Stock Data</a></option>
                    {{#if user.admin}}
                        <option value="3">Data Input</option>
                        <option value="6">Pricing</option>
                    {{/if}}
                    <option value="4">Account Details</option>
                    <option value="5"><strong class="logout">Logout<strong></option>
                </select>
            </form>
        </strong>
        {{/if}}
    </section>
    <section class = "main-content">
        <br><br><br>
        <strong class = "disclaimer-title" style="text-decoration: underline;">DISCLAIMER</strong>
        <p class="disclaimer-content">
            <strong style="text-decoration: underline;">WELCOME TO AADARSH-STOCKS</strong><br><br> ~ At Aadarsh-Stocks we choose some of the best and ideal stocks (aadarsh stocks) for your portfolio. <br>
                ~ WE as a team of technical analysts with the help of new technologies chhose some of the best suited stocks. <br>
                ~ All stocks are suited for positional/swing trade and are subject to your own research before you invest. <br>
                ~ We have an aim to reach all those beginners who can't afford huge amount of money to learn. <br> <br><br>

                <strong style="text-decoration: underline;">WHAT YOU GET AFTER JOINING US</strong><br><br>
                1. DAILY MARKET VIEW <br>
                2. DAILY STOCKS FOR POSITIONAL TRADES* <br>
                3. SELECTED VIDEOS FOR LEARNING TECHNICAL ANALYSIS <br>
                4. ACCESS TO A PRIVATE TELEGRAM GROUP WHERE YOU CAN DISCUSS WITH OTHER TRADERS <br>
                5. WEEKLY WEBINAR FOR DISCUSSION OF CONCEPTS <br>
                6. DOUBT DISCUSSION TWICE IN A WEEK <br>
                7. CONSTANT SUPPORT ON YOUR OTHER HOLDINGS <br>
                <i><strong>* WE are not a sebi registered advisor. Consult your financial advisor/do your own research before investing.</strong> </i><br><br><br>


                <strong style="text-decoration: underline;"> HOW TO  SUCCEED IN STOCK MARKET </strong><br><br>
                1. Keep learning <br>
                2. Look at stock market as your secondary source of income atleast for few starting years. <br>
                3. Control your emotions. <br>
                4. Be disciplined. <br>
                5. Finally we are here to help you. <br><br><br><br><br>    
        </p>   
          
     </section>
    <section class = "footer">
        {{>footer}}
    </section>


</body>
</html>