<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/index_style.css">
    <link rel="icon" href="/img/web.png" type="image/icon type">
    <title>Aadarsh Stock</title>
</head>
<body>
    
    <section class = 'header'>
        
        <strong class="title"><a href="/" class="headerTitle">AADARSH-STOCKS</a><a href="#" class="pricing">Pricing</a></strong>
        
    </section>
    <section class = "main-content">
        
        <strong class = "authenticationBody">
            <strong> </strong><br><br><br><br><br><br>
            <strong class = "welcomeNote">Welcome</strong><br>
            <div class="indexAuthentication">
                <br><br><br><br><br><br><br><br><br><br><br><br><br>
                <a href="/login">Login</a><br><br><br>
                <a href="/register" class="reg">Register</a>
            </div>
        </strong>
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="disclaimer-index">
            <strong class = "disclaimer-title-index" style="text-decoration: underline;">DISCLAIMER :</strong><br><br><br>
            <p class="disclaimer-content-index">
                1. All recomendations are subjected to personal study, we are not SEBI registered advisors. <br>
                2. Always contact your financial advisor before taking trades.
            </p>
        </div>   
        
        </section>
    <section class = "footer">
        {{>footer}}
    </section>


</body>
</html>