<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/index_style.css">
    <link rel="icon" href="/img/web.png" type="image/icon type">
    <title>Aadarsh-Stocks</title>
</head>
<body>
    
    <section class = 'header'>
        
        <strong class="title"><a href="/" class="headerTitle" onclick="Going to Home...">AADARSH-STOCKS</a><a href="/home/pricing" class="pricing" onclick="myfunction('Loading subscription page...')">Pricing</a></strong>
        
    </section>
    <section class = "main-content">
        
        <strong class = "authenticationBody">
            <strong> </strong><br><br><br>
            <strong class = "welcomeNote">Welcome</strong><br>
            <div class="indexAuthentication">
                <br><br><br><br><br><br>
                <a href="/login" onclick="myfunction('Loading ...')" >Login</a><br><br><br>
                <a href="/register" class="reg" onclick="myfunction('Loading ...')">Sign Up</a><br><br><strong style="padding-left: 25px;color : blue;">^ For free trial ^</strong>
            </div>
        </strong>
        <br><br><br><br>
        <div class="covidUpdate">
            <div class="covidText"><!--<a href="https://covid19india.org">CORONAVIRUS UPDATE</a> | --><a href="/register">SIGN UP FOR TWO-WEEKS FREE TRIAL</a></div>
        </div>
        <br><br><br><br>
        <div class="disclaimer-index">
            <p class="disclaimer-content-index">
                <strong style="text-decoration: underline;">WELCOME TO AADARSH-STOCKS</strong><br><br> ~ At Aadarsh-Stocks we choose some of the best and ideal stocks (aadarsh stocks) for your portfolio. <br>
                ~ WE as a team of technical analysts with the help of new technologies chhose some of the best suited stocks. <br>
                ~ All stocks are suited for positional/swing trade and are subject to your own research before you invest. <br>
                ~ We have an aim to reach all those beginners who can't afford huge amount of money to learn. <br> <br><br>

                <strong style="text-decoration: underline;">WHAT YOU GET AFTER JOINING US</strong><br><br>
                1. DAILY MARKET VIEW <br>
                2. DAILY STOCKS FOR POSITIONAL TRADES* <br>
                3. SELECTED VIDEOS FOR LEARNING TECHNICAL ANALYSIS <br>
                4. ACCESS TO A PRIVATE TELEGRAM GROUP WHERE YOU CAN DISCUSS WITH OTHER TRADERS <br>
                5. WEEKLY WEBINAR FOR DISCUSSION OF CONCEPTS <br>
                6. DOUBT DISCUSSION TWICE IN A WEEK <br>
                7. CONSTANT SUPPORT ON YOUR OTHER HOLDINGS <br>
                <i><strong>* WE are not a sebi registered advisor. Consult your financial advisor/do your own research before investing.</strong> </i><br><br><br>


                <strong style="text-decoration: underline;"> HOW TO  SUCCEED IN STOCK MARKET </strong><br><br>
                1. Keep learning <br>
                2. Look at stock market as your secondary source of income atleast for few starting years. <br>
                3. Control your emotions. <br>
                4. Be disciplined. <br>
                5. Finally we are here to help you. <br><br><br><br><br>
            </p>
        </div>  
        
        </section>
    <section class = "footer">
        {{>footer}}
    </section>

    <script src="/loader.js" type="text/javascript"></script>
</body>
</html>