<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/index_style.css">
    <title>Aadarsh Stock</title>
</head>
<body>
    
    <section class = 'header'>
        
        <strong class="title"><a href="/">AADARSH-STOCKS</a></strong>
        
    </section>
    <section class = "main-content">
        
        <strong class = "authenticationBody">
            <strong class = "welcomeNote">Welcome to Aadarsh-Stocks!</strong><br>
            <a href="/register">Register</a>
            <a href="/login">Login</a>
        </strong>
        
        
        </section>
    <section class = "footer">
        {{>footer}}
    </section>


</body>
</html>