<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/img/web.png" type="image/icon type">
    <link rel="stylesheet" href="/css/index_style.css">
    <link rel="stylesheet" href="/css/login_style.css">
    <title>Home</title>
</head>
<body>
    <section class="header">
        <strong class="title"><a href="/" class="headerTitle" onclick="myfunction('Loading ...')">AADARSH-STOCKS</a></strong>
    </section>
    
    <section class="main-content">
        <br><br>
        <center>
            <strong class="homeUser" style="text-decoration: underline;">DASHBOARD</strong>
            <div class="homepallette"><br><br><br>
                <center>
                    <div class="palletteDuo">
                        <a href="/home" onclick="myfunction('Loading ...')"><div class="palletteElements"><img src="/icons/home.png" alt="Home"><br><br><strong class="homeLink"> Home</strong></div></a>
                        <a href="/home/stockData" onclick="myfunction('Loading stocks page...')"><div class="palletteElements pair"><img src="/icons/stockdata.png" alt="Stock-Data"><br><br><strong class="homeLink"> Stock-Data</strong></div></a>
                    </div><br><br><br>
                    {{#if user.admin}}
                        <div class="palletteDuo">
                            <a href="/home/dataInput" onclick="myfunction('Loading ...')"><div class="palletteElements"><img src="/icons/datainput.png" alt="Data-Input"><br><br><strong class="homeLink"> Data-Input</strong></div></a>
                            <a href="/home/pricing" onclick="myfunction('Loading ...')"><div class="palletteElements pair"><img src="/icons/pricing.png" alt="Pricing"><br><br><strong class="homeLink"> Pricing</strong></div></a>
                        </div><br><br><br>
                        
                    {{/if}}
                    <!--<div class="palletteDuo">
                            <a href="/home/changePassword" onclick="myfunction('Loading ...')" ><div class="palletteElements" style="background-color: rgb(240, 201, 149);"><img src="/icons/datainput.png" alt="Data-Input"><br><br><strong class="homeLink"> Data-Input</strong></div></a>
                        </div><br><br><br>
                    <div class="palletteDuo">-->
                        <a href="/home/profile" onclick="myfunction('Loading ...')"><div class="palletteElements"><img src="/icons/profile.png" alt="Profile"><br><br><strong class="homeLink">Profile</strong></div></a>
                        <a href="/home/logout" onclick="myfunction('Logging Out ...')"><div class="palletteElements pair"><img src="/icons/logout.png" alt="Logout"><br><br><strong class="homeLink"> Logout</strong></div></a>
                    </div><br><br><br>
                </center>
            </div>
        </center>
        <center>
            <strong > Referral Link : 
                <a class="referralLink" href="http://aadarsh-stocks.herokuapp.com/register/{{user.referralID}}" style="text-decoration: underline;">
                        http://aadarsh-stocks.herokuapp.com/register/{{user.referralID}}
                </a>
                <input style="border : none; width : 0.1px;" id="referralLink" value="http://aadarsh-stocks.herokuapp.com/register/{{user.referralID}}" readonly> 
            </strong>
            <button title="Copy Referral Link" class="copyReferralLink" onclick="clickFunction('referralLink')"><img src="/icons/copy.png" alt="Copy"></button><br><br>
        </center>
    </section>


    <section class="footer">
        {{>footer}}
    </section>
    <script>
        function clickFunction(clas) {
            var copyText = document.getElementById(clas)
            console.log(copyText)
            copyText.select();
            copyText.setSelectionRange(0, 99999)
            document.execCommand("copy");
            alert("Copied the text: " + copyText.value);
        }
        function myfunction(content){
            var html = 
            `
            <center>
                <div class="anim">
                    <div id="loader"></div><br>
                    <strong>${content}</strong>
                </div>
            </center>
            `
            document.querySelector('.main-content').innerHTML = ' '
            document.querySelector('.main-content').insertAdjacentHTML('afterbegin',html)
        }
    </script>
</body>
</html>