<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/img/web.png" type="image/icon type">
    <link rel="stylesheet" href="/css/index_style.css">
    <link rel="stylesheet" href="/css/login_style.css">
    <title>Home</title>
</head>
<body>
    <section class="header">
        <strong class="title"><a href="/" class="headerTitle">AADARSH-STOCKS</a></strong>
    </section>
    
    <section class="main-content">
        <br><br>
        <center>
            <strong class="homeUser" style="text-decoration: underline;">DASHBOARD</strong>
            <div class="homepallette"><br><br><br>
                <center>
                    <div class="palletteDuo">
                        <a href="/home"><div class="palletteElements"><img src="/icons/home.png" alt="Home"><br><br><strong class="homeLink"> Home</strong></div></a>
                        <a href="/home/stockData"><div class="palletteElements pair"><img src="/icons/stockdata.png" alt="Stock-Data"><br><br><strong class="homeLink"> Stock-Data</strong></div></a>
                    </div><br><br><br>
                    {{#if user.admin}}
                        <div class="palletteDuo">
                            <a href="/home/dataInput"><div class="palletteElements"><img src="/icons/datainput.png" alt="Data-Input"><br><br><strong class="homeLink"> Data-Input</strong></div></a>
                            <a href="/home/pricing"><div class="palletteElements pair"><img src="/icons/pricing.png" alt="Pricing"><br><br><strong class="homeLink"> Pricing</strong></div></a>
                        </div><br><br><br>
                    {{else}}
                        <div class="palletteDuo">
                            <a href="/home/dataInput" aria-disabled="true" ><div class="palletteElements" style="background-color: rgb(143, 113, 73);"><img src="/icons/datainput.png" alt="Data-Input"><br><br><strong class="homeLink"> Data-Input</strong></div></a>
                            <a href="/home/pricing" aria-disabled="true" ><div class="palletteElements pair" style="background-color: rgb(143, 113, 73);"><img src="/icons/pricing.png" alt="Pricing"><br><br><strong class="homeLink"> Pricing</strong></div></a>
                        </div><br><br><br>
                    {{/if}}

                    <div class="palletteDuo">
                        <a href="/home/profile"><div class="palletteElements"><img src="/icons/profile.png" alt="Profile"><br><br><strong class="homeLink">Profile</strong></div></a>
                        <a href="/home/logout"><div class="palletteElements pair"><img src="/icons/logout.png" alt="Logout"><br><br><strong class="homeLink"> Logout</strong></div></a>
                    </div><br><br><br>
                </center>
            </div>
        </center>
    </section>


    <section class="footer">
        {{>footer}}
    </section>
    
</body>
</html>