<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/img/web.png" type="image/icon type">
    <link rel="stylesheet" href="/css/index_style.css">
    <link rel="stylesheet" href="/css/login_style.css">
    <link rel="stylesheet" href="/css/pricing_style.css">
    <title>Pricing</title>
</head>
<body>
    <section class="header">
        <strong class="title"><a href="/" class="headerTitle">AADARSH-STOCKS</a></strong>
        <strong class = "authentication">
            <form action="/home" method="post">
                <select name="loginChoice" id="loginChoice" onchange="this.form.submit()">
                    <option value="1">Welcome, {{user.firstName}}</option>
                    <option value="7">Home</option>
                    <option value="2">Stock Data</option>
                    {{#if user.admin}}
                        <option value="3">Data Input</option>
                        <option value="6" selected>Pricing</option>
                    {{/if}}
                    <option value="4">Profile</option>
                    <option value="5"><strong class="logout">Logout<strong></option>
                </select>
            </form>
        </strong>
    </section>
    
    <section class="main-content">
        <form action="/home/pricing" method="post">
            <div class="pricingTable">
                <strong class = "serialNumber">S.No.</strong>
                <strong class= "planName">Plan Name</strong>
                <strong class = "pricingPlans">Plans</strong>
                <strong class = "Subscribe">Links</strong>
                <strong class = "serialNumber-items">1.</strong>
                <strong class = "planName-items">Monthly</strong>
                <strong class = "pricingPlans-items">Rs. 300</strong>
                <strong class = "Subscribe-items" name = "Subscribe-items"><a href="/home/payment/300" >Subscribe</a></strong>
                <strong class = "serialNumber-items">2.</strong>
                <strong class= "planName-items">Bi-monthly</strong>
                <strong class = "pricingPlans-items">Rs. 550</strong>
                <strong class = "Subscribe-items"><a href="/home/payment/550">Subscribe</a></strong>

            </div>
        </form>
    </section>


    <section class="footer">
        {{>footer}}
    </section>
    <script>
        function myfunction(content){
            var html = 
            `
            <center>
                <div class="anim">
                    <div id="loader"></div><br>
                    <strong>${content}</strong>
                </div>
            </center>
            `
            document.querySelector('.main-content').innerHTML = ' '
            document.querySelector('.main-content').insertAdjacentHTML('afterbegin',html)
        }

    </script>
</body>
</html>